@page "/genthree"
@inject HttpClient httpClient
@using ServerSideProject.Data
@using Newtonsoft.Json



@if (allGen1 == null)
{
    <h1 class="text-center"> No Pokemon to display</h1>
}
else
{

    <table class="pokemon-table-spacing container-fluid">

        @for (int i = 0; i < allGen1.Count(); i += 3)
        {
            <tr>
                <td class="pokemon-List pokeButton" @onclick="DisplayPopUp">
                    <img style="width: 50%; padding: 0" src="@allGen1[i].SpriteURL" alt="@allGen1[i].Name">
                    <p style="float:right">
                        <h3>@allGen1[i].Name.ToUpper()</h3><br>
                        Grass/ Poison
                        @i
                    </p>
                </td>
                
                @if (i + 1 <= allGen1.Count() - 1)
                {
                    <td class="pokemon-List">
                        <img style="width: 50%; padding: 0" src="@allGen1[i+1].SpriteURL" alt="@allGen1[i+1].Name">
                        <p style="float:right">
                            <h3>@allGen1[i+1].Name.ToUpper()</h3><br>
                            Grass/ Poison
                            @i+1
                        </p>
                    </td>
                    @if (i + 2 <= allGen1.Count() - 1)
                    {
                        <td class="pokemon-List">
                            <img style="width: 50%; padding: 0" src="@allGen1[i+2].SpriteURL" alt="@allGen1[i+2].Name">
                            <p style="float:right">
                                <h3>@allGen1[i+2].Name.ToUpper()</h3><br>
                                Grass/ Poison
                                @i+2
                            </p>
                        </td>
                    }
                }
            </tr>
        }
    </table>
}



@code {
    public Pokemon[]? allGen1;
    public bool PopUpActive = false;

    // string json = System.IO.File.ReadAllText("C:\\Users\\kyahh\\OneDrive\\Documents\\Server Side\\ServerSideProject\\Data\\gen1.json");
    string json = System.IO.File.ReadAllText("./Data/gen3.json");
    protected override async Task OnInitializedAsync()
    {
        allGen1 = Newtonsoft.Json.JsonConvert.DeserializeObject<Pokemon[]>(json);
    }

    public void DisplayPopUp()
    {
        PopUpActive = true;
    }

    public void HidePopUp()
    {
        PopUpActive = false;
    }


}


